name: Mise à jour automatique des tarifs

on:
  schedule:
    - cron: '0 4 * * *' # Se lance tous les jours à 4h du matin
  workflow_dispatch: # Permet de le lancer manuellement pour tester

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v2
        
      - name: Installer Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          
      - name: Installer les outils du robot
        run: pip install requests beautifulsoup4
        
      - name: Lancer le robot
        run: python robot.py
        
      - name: Enregistrer les résultats
        run: |
          git config --global user.name 'Robot-Voile'
          git config --global user.email 'robot@voile.com'
          git add tarifs.csv
          git commit -m "Mise à jour automatique des prix" || exit 0
          git push
